.my_nav_item_hidden{
    display:none;
}
@media screen and (min-width:1200px){
    .my_nav_item_hidden{
        display:block;
    }
}
.my_h_6{
    height:6%;
}
.my_h_94{
    height:94%;
}
body{
    height:100vh;
    width:100%;
}
.my_sidebar_item>i{
    width:1rem;
}
.my_bg_color_sidebar{
    background-color: rgb(5, 30, 52);
    color:white;
}
.my_bg_primary{
    background-color: rgb(27, 114, 232);
}
header{
    color: white;
}
.my_offcanvas_btn{
    border:1px white solid;
    color:white;
}
.dropdown .fa-bell{
    color:rgb(255, 143, 0)
}