.my_xl_item_show{
    display:none;
}
.my_h_navbar{
    height:80px;
}
.my_h_main{
    height:calc(100% - 80px);
}
.my_h_header{
    height:230px;
}
.my_h_section{
    height:calc(100% - 230px);
}
body{
    height:100vh;
    width:100%;
}
.my_sidebar_item>i{
    width:1rem;
}
.my_bg_color_sidebar{
    background-color: rgb(5, 30, 52);
    color:white;
    background-image: url("../img/sidebar-bg.png");
}
.my_bg_primary{
    background-color: rgb(27, 114, 232);
}
.my_text_bg_secondary{
    background-color: rgba(0, 0, 0, 0.292);
}
header{
    color: white;
}
.my_offcanvas_btn{
    border:1px white solid;
    color:white;
}
.dropdown .fa-bell{
    color:rgb(255, 143, 0)
}
td>i{
    border:solid 1px grey;
    color:grey;
    padding:.5rem;
    border-radius:.3rem;
}
.my_table td:nth-child(n+2){
    text-align: center;
}
.my_text_bg_process{
    background-color: rgb(255, 193, 7);
}
.my_offcanvas_width.offcanvas{
    width:100%;
}
@media screen and (min-width:768px){
    
    .my_h_header{
        height:150px;
    }
    .my_h_section{
        height:calc(100% - 150px);
    }
}
@media screen and (min-width:1200px){
    .my_sidebar_max_width{
        max-width:200px;
    }
    .my_content_max_width{
        width:calc(100% - 200px);
    }
    .my_xl_item_show{
        display:inline-block;
    }
    .my_xl_item_hidden{
        display: none;
    }
    .my_offcanvas_width.offcanvas{
        width:60%;
    }
    
}